<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990691078117-uhf1eadj1fffr5m80mpsumr0p8hk472v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990691078117-uhf1eadj1fffr5m80mpsumr0p8hk472v</string>
	<key>API_KEY</key>
	<string>AIzaSyB4UyVDgtwuWJjR8Kw6VOa1lCI-SjaoNEA</string>
	<key>GCM_SENDER_ID</key>
	<string>990691078117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.uni7.FilmesIOS</string>
	<key>PROJECT_ID</key>
	<string>filmes-975df</string>
	<key>STORAGE_BUCKET</key>
	<string>filmes-975df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990691078117:ios:b2e753a1edac32a700c90c</string>
	<key>DATABASE_URL</key>
	<string>https://filmes-975df.firebaseio.com</string>
</dict>
</plist>